apipkg==1.5
atomicwrites==1.4.0
attrs==20.3.0
backports.csv==1.0.7
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.11.8
cffi==1.14.3
chardet==3.0.4
click==7.1.2
colorama==0.4.4
cryptography==3.2.1
decorator==4.4.2
execnet==1.7.1
ez-setup==0.9
fixture==1.5.11
future==0.18.2
gcloud==0.18.3
globre==0.1.5
googleapis-common-protos==1.52.0
httplib2==0.18.1
idna==2.10
importlib-metadata==2.0.0
iniconfig==1.1.1
joblib==0.17.0
jwcrypto==0.8
jws==0.1.3
more-itertools==8.6.0
nltk==3.5
numpy==1.19.4
oauth2client==4.1.3
packaging==20.4
pep8==1.7.1
pluggy==0.13.1
protobuf==3.13.0
psutil==5.7.2
public==0.0.0
py==1.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoIt==0.6.0
pycparser==2.20
pyee==8.1.0
pyparsing==2.4.7
pyperclip==1.8.1
Pyphen==0.10.0
pyte==0.8.0
pytest==6.1.2
pytest-base-url==1.4.2
pytest-cache==1.0
pytest-pep8==1.0.6
python-jwt==3.3.0
PyYAML==5.3.1
regex==2020.11.11
requests==2.25.0
requests-toolbelt==0.9.1
rsa==4.6
selenium==3.141.0
self==0.0.0
six==1.15.0
soupsieve==2.0.1
thefuck==3.30
toml==0.10.2
tqdm==4.51.0
typing-extensions==3.7.4.3
urllib3==1.26.1
wcwidth==0.2.5
win-unicode-console==0.5
zipp==3.4.0
